body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #007bff;
    color: white;
}

.logo {
    font-weight:bolder;
    font-size: 4rem;
    margin-left: 30px;
    background-color: #2f2020;
    border-radius: 50px;
    padding: 10px;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
    display: none; /* Hidden on large screens */
}

.nav-links {
    display: flex;
    gap: 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.3rem;
    margin-right: 30px;
}
.tracking {
    text-align: center;
    padding: 40px;
}

.cta {
    padding: 16px;
    background-color: rgb(4, 92, 244);
    color: #f8f9fa;
    font-size: medium;
}

#tracking-form input {
    width: 60%;
    padding: 16px;
    margin: 10px;
}

.progress {
    text-align: center;
    padding: 20px;
    background-color: #b0d3f9;
}

.progress ul {
    list-style: none;
    padding: 0;
}

.notifications {
    text-align: center;
    padding: 30px;
}

.notifications input {
    width: 50%;
    padding: 16px;
    margin: 10px;
}

.support {
    background-color: #f8f9fa;
    padding: 30px;
    text-align: center;
}

/* Footer */
footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: #343a40;
}

footer a, #p1, #lastModified {
    color: #f8f9fa;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a {
    text-decoration: none;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

footer a:hover {
    color: #007bff; /* Change text color on hover */
    transform: scale(1.1); /* Slightly enlarge for an interactive feel */
}


.social-icons :hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.1); /* Slightly enlarge on hover */
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    #tracking-form input,
    .notifications input {
        width: 90%;
    }
}
