/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4 ;
    color: #333;
}
.header
{
    display: block;
    text-align: center;
    background-color: #333;
    padding: 20px; 
    color: #f4f4f4; 
}

.content
{
    display: grid;
    height: 500px;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;

}

.leftside
{
    grid-column: 1/2;
    background-color: antiquewhite;
}

.middle
{
    grid-column: 2/4;
    background-color: aquamarine;
}

.rightside
{
    grid-column: 4/5;
    background-color: blue;
}

.footer
{
    background-color: black;
    height: 50px;
    display: block;
    color: #f4f4f4;
    text-align: center;
    padding: 15px;
}